.container {
  width: 100%;
  background: rgb(54, 90, 225, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1121;
}
header {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  .logo_section {
    width: 40px;
    height: 40px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  nav {
    ul {
      display: flex;
      gap: 20px;
      li {
        color: #ffffff;
        text-shadow: 2px 2px 30px #ffffff;
        transition: 0.3s ease-out;
        &:hover {
          cursor: pointer;
          transform: translateY(5px);
          transform: scale(1.1);
          color: #e3e3e3;
        }
      }
    }
  }
  button {
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 16px;
    border: none;
    background-color: #170659;
    color: #00cffe;
    transition: 0.3s ease;
    &:hover {
      //   border-color: rgb(2, 26, 110);
      //   color: rgb(2, 26, 110);
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}
@media (max-width: 1024px) {
  header {
    padding: 20px 50px;
  }
}
@media (max-width: 700px) {
  header {
    nav {
      display: none;
    }
  }
}
@media (max-width: 700px) {
  header {
    padding: 20px;
  }
}
